* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Times New Roman", serif; 
    background-color: #FCFAF6;
    margin: 0;
    padding: 20px;
  }
  .news-container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  h1 {
    color: #705a2a;
    margin-bottom: 10px;
  }
  .nav a {
    color: black;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
  }
  .nav a:hover {
    color: #b8860b;
  }
.content {
    display: grid;
    grid-template-columns: 2fr 1.2fr 1fr;
    gap: 20px;
    margin-top: 20px;
}
.main-article {
    border-right: 1px solid #E7E7E7;
    padding-right: 20px;
}
.main-article img {
    width:100%;
    border-radius: 5px;
}
.main-article h2 a {
    margin: 10px 0;
    font-size: 24px;
    color: #222224;
    text-decoration: none;
    font-weight: 500;
}
.main-article p {
    font-size: 15px;
    color: #7D7986;
}
.side-left {
    border-right: 1px solid #E7E7E7;
    padding: 20px;
}
.small-article {
    margin-bottom: 20px;
}
.small-article img {
    width: 100%;
    border-radius: 5px;
}
.small-article a {
    font-size: 18px;
    color: #333;
    margin-top: 5px;
    text-decoration: none;
  }
  .mini-article {
    display: flex;                  
    align-items: center;          
    justify-content: space-between; 
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #E7E7E7;
  }
.mini-article img {
    width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
    order: 2;
    margin-left: 15px;
}
.mini-article p a {
    font-size: 15px;
    color: #222;
    margin: 0;
    text-decoration: none;
    flex: 1;
    order: 1;
  }